<% provide(:title, "出勤中社員一覧") %>
<h1>出勤中社員一覧</h1>

<div>
  <table class="table table-bordered table-condensed" id="table-attendance-index">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>
    
    <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>
