<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-condensed" id="table-bases">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>拠点番号</th>
        <th>拠点名</th>
        <th>勤怠種類</th>
      </tr>
    </thead>
    
    <tbody>
      <% @bases.each do |base| %>
        <tr>
          <td></td>
          <td></td>
          <td><%= base.base_number %></td>
          <td><%= base.base_name %></td>
          <td><%= base.attendance_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="center">
<%= link_to "拠点情報追加", new_basis_path, class: "btn btn-lg btn-primary" %>
</div>